* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #e8edf5;
}

.pageLayout {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
    align-items: start
}

/* =============== Left side Bar ============ */

.sidebar {
    background: #0e233a;
    color: #f4f6f9;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebar h2 {
    margin-bottom: 25px;
}

.sidebar h2 {
    color: #ffd001;
    box-shadow: 0 3px 5px #ffd001;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 5px;
}

.sidebar ul {
    list-style: none;
    margin-top: 15px;
}

.sidebar ul li {
    margin-bottom: 25px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #f4f6f9;
    padding: 10px 0;
    transition: all 0.3s ease;
    font-weight: bold;
}

.sidebar ul li:hover {
    transition: 0.5s;
    /* text-decoration: underline red; */
}
.iconHide {
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    color: #ffd001;
}

.sidebar ul li a:hover .iconHide {
    opacity: 1;
    transform: translateX(0);
}
.sidebar ul li a.active .iconHide {
    opacity: 1;
    transform: translateX(0);
}

.bar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
}

.bottomMenu {
    margin-top: auto;
}
/* ================================================ */





/* ========================= Main ================== */
.main {
    padding: 10px;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #0e233a;
    /* background: linear-gradient(to right, #0e233a, #1a81ee); */
}

.box-header{
     background: linear-gradient(to right, #0e233a, #60aaf8);
     padding: 10px;
     border-radius: 5px;
     color: #ffff;
}

header input {
    border: none;
    outline: none;
    padding: 10px 40px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header input::after {
    border: 1px solid #ffd001;
    outline: none;
}

.search-box .fa-magnifying-glass{
    position: absolute;
    padding: 10px;
}
/* =======================box 1================= */
.box{
    border-radius: 10px;
    padding: 10px ;
    background: linear-gradient(to right, #0e233a, #60aaf8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.box h2{
    color: rgb(253, 253, 253);
}

.customer-directory-bar{
    display: flex;
    justify-content: space-between;
}

.btn-add-customer, .btn-view-blacklist, .btn-export-report{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #edf7ff;
}
.btn-add-customer:hover,
.btn-view-blacklist:hover,
.btn-export-report:hover{
    background-color: #ffff;
    outline: 2px solid green;
}


.customer-box{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

.search-customer{
    margin-top: 20px;
}

.search-customer .search-customers{
    padding: 10px;
    min-width: 40%;
    background-color: #ecf0f6;
    border-radius: 5px;
    border: none;
}
.search-customer .search-customers:focus{
    border: none;
    outline: none;
    box-shadow: 2px 2px 0px 1px rgba(128, 128, 128, 0.695);
}

#select{
    padding: 10px;
    background-color: #ecf0f6;
    border-radius: 5px;
    border: none;
}

.btn-active{
    background-color: rgb(39, 245, 39);
    color: #ffff;
    padding: 5px;
    max-width: 90%;
    border: none;
    border-radius: 5px;
}

table{
    border: 1px solid rgb(206, 206, 206);
    border-collapse: collapse;
    width: 100%;
}
table td{
    padding: 10px;
    text-align: center;
}
/* ====================================================== */



/* ============================== Pop-up Layout ======================== */
.popup{
    display: none;
    position: fixed;
    background: #0e233a;
    padding: 10px;
    border: 1px solid #ffff;
    border-radius: 10px;
    color: #ffff;
    justify-content: center;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ============== layout Uploard picture ========= */
.layout-upload{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    margin: 0 auto;
}

.layout-photo{
    padding: 10px;
}

.layout-photo .upload-photo{
    padding: 8px;
    border: 5px solid greenyellow;
    border-radius: 5px;
    min-width: 50%;
}
.layout-name{
    padding: 10px;
    margin-bottom: 10px;
}
.layout-name .input-fullName{
    padding: 8px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    min-width: 90%;
}

.layout-upload .grid-layout-id{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.layout-id, 
.grid-layout-emergency{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-pup{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.national-id, 
.passport-num, 
.date,
.phone-num1,
.phone-num2,
.upload-file,
.address,
.item,
.emer-name,
.emer-phone{
    padding: 8px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    min-width: 95%;
}
.note{
    padding: 8px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    min-width: 90%;
}
.btn-cancel, 
.btn-save,
.btn-money{
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save{
    background-color: #439eff;

}
/* ============================Responsive========================== */
@media (max-width: 932px) {
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .sidebar h2 {
        font-size: 13px;
        max-width: 150px;
    }

    .sidebar ul li a{
        font-size: 11px;
    }
    .pageLayout {
    display: grid;
    grid-template-columns: 150px 1fr;
    }
    header h2{
        font-size: 12px;
    }
    header input{
        padding: 2px 0;
    }
}